@page "/"

<h1>Hello World!</h1>

<h5>Welcome to Name App.</h5>
<br />
<div>
    <ul>
        <li>.NET 5</li>
        <li>SQLite</li>
        <li>ASP.NET Core</li>
        <li>Entity Framework Core</li>
        <li>Blazor WebAssembly</li>
        <li>xUnit</li>
        <li>bUnit</li>
    </ul>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
