@page "/namelist"
@using NameApp.Shared
@inject HttpClient Http
@inject NavigationManager navManager

<h2>Name List</h2>
<br />
<h3>Total Names: @namecount</h3>

<br />

@if (names == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TableTemplate Items="names">
        <TableHeader>
            <th>Name</th>
            <th>Amount</th>
        </TableHeader>
        <RowTemplate Context="item">
            <td>@item.Nimi</td>
            <td>@item.Amount</td>
        </RowTemplate>
    </TableTemplate>   
}

@code {
    
    public int namecount { get; set; }
    private Name[] names;

    protected override async Task OnInitializedAsync()
    {
        names = await Http.GetFromJsonAsync<Name[]>("api/Names");
        namecount = await Http.GetFromJsonAsync<int>("api/Names/countnames");
    }
}


